body{
    background-color: #E2E7EE;
    
}
html,
body {
  height: 100%;
}
#page-content {
    flex: 1 0 auto;
  }
  
  #sticky-footer {
    flex-shrink: none;
  }

.bg-custom{
    background-color: #E0E0E0 !important;
}
.form-wrapper{
    border-radius: 7px;
}
.form-wrapper label{
    font-weight: bold;
}
.errors li{
    list-style: none;
    width: 100%;
    text-align: center;
}
.errors ul{
    padding-left: 0;
    margin-bottom: 0;
}

@media (max-width: 768px){
    .form-wrapper  .text-right{
        text-align: center !important;
    }

    .form-wrapper .btn-primary{
        display: block;
        margin: 0 auto;
    }
}

.bg-white {
    box-sizing: border-box none !important;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
       
       .btn-circle.btn-xl { 
            width: 70px; 
            height: 70px; 
            padding: 10px 16px; 
            border-radius: 35px; 
            font-size: 12px; 
            text-align: center; 
        } 
        .scrollb {
          height:600px;
          overflow-y: scroll;
        }

.card {
 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

