//variables
$primary:#6a4e9c;
$light:#ebebeb;
$danger:#F67280;
.modal-header {
    background-color: #6a4e9c !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    align-items: center !important;
}

.modal-header h5 {
    margin-top: 0;
    color: #fff
}

.modal button.close {
    background-color: #f34255 !important;
    border-radius: 50% !important;
    width: 40px;
    max-width: 100%;
    height: 40px;
    background-position: center center;
    background-size: cover;
    color: #fff !important;
    padding: 0.5rem !important;
}

@import '../../user/assets/scss/material-kit.scss';